<ng-container *ngIf="character$ | async"></ng-container>
<form [formGroup]="formGroup" (ngSubmit)="save()">
  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input matInput
           formControlName="firstName" name="firstName" />
    <mat-error *ngIf="formGroup.controls.firstName.errors?.minlength">
      Ce champ doit contenir au moins {{formGroup.controls.firstName.errors?.minlength.requiredLength}} caractères.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput
           formControlName="lastName" name="lastName" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Surnom</mat-label>
    <input matInput
           formControlName="nickname" name="nickname" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Année de naissance</mat-label>
    <input matInput
           type="number" formControlName="birthYear" name="birthYear" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Genre</mat-label>
    <input matInput
           formControlName="gender" name="gender" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Espèce</mat-label>
    <input matInput
           formControlName="species" name="species" />

  </mat-form-field>

  <div>
    <button mat-flat-button color="primary">
      Save
    </button>
    <button type="button" mat-flat-button color="accent" (click)="reset()">
      Reset
    </button>
  </div>
</form>
<a mat-button routerLink="/characters">Retour à la liste</a>
