<form [formGroup]="formGroup" (ngSubmit)="login()">
  <mat-form-field>
    <mat-label>Identifiant</mat-label>
    <input matInput
           formControlName="email" name="email" />
    <mat-error *ngIf="formGroup.controls.email.errors?.required">
      Ce champ est requis.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput
           formControlName="password" name="password" type="password" />
    <mat-error *ngIf="formGroup.controls.password.errors?.required">
      Ce champ est requis.
    </mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary">
    Connexion
  </button>
</form>
<a mat-button routerLink="/">Retour au menu</a>
