<ng-container *ngIf="user$ | async"></ng-container>
<form [formGroup]="formGroup" (ngSubmit)="save()">
  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input matInput
           formControlName="firstName" name="firstName" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput
           formControlName="lastName" name="lastName" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Pseudo</mat-label>
    <input matInput
           formControlName="username" name="username" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date de naissance</mat-label>
    <input matInput
           type="date" formControlName="birthDate" name="birthDate" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Courriel</mat-label>
    <input matInput
           type="email" formControlName="email" name="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput
           type="password" formControlName="password" name="password" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Genre</mat-label>
    <mat-select [(value)]="selectedGenre">
      <mat-option value="Male">Homme</mat-option>
      <mat-option value="Female">Femme</mat-option>
      <mat-option value="Other">Autre</mat-option>
      <mat-option value="HelicoptereDeCombat">Hélicoptère de combat</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rôle</mat-label>
    <mat-select [(value)]="selectedRole">
      <mat-option value="MEMBER">Membre</mat-option>
      <mat-option value="ADMIN">Admin</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-error *ngIf="formGroup.controls.email.errors?.required">
    Un courriel est requis.
  </mat-error>

  <mat-error *ngIf="formGroup.controls.password.errors?.required">
    Un mot de passe est requis.
  </mat-error>

  <div>
    <button mat-flat-button color="primary">
      Save
    </button>
    <button type="button" mat-flat-button color="accent" (click)="reset()">
      Reset
    </button>
  </div>
</form>

<a mat-button routerLink="/users">Retour à la liste</a>
