<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ item?.title }}
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="item?.affiche" />
  <mat-card-content>
    Année de sortie: {{ item?.year }}
  </mat-card-content>
  <mat-card-content *ngIf="item?.duration && isDetail">
    Durée : {{ item?.duration }}
  </mat-card-content>
  <mat-card-content *ngIf="item?.genre && isDetail">
    Genre : {{ item?.genre }}
  </mat-card-content>
  <mat-card-content *ngIf="item?.realisator && isDetail">
    Réalisteur: {{ item?.realisator }}
  </mat-card-content>
  <mat-card-content *ngIf="item?.preview && isDetail">
    <a mat-button href="{{ item?.preview }}">bande-annonce</a>
  </mat-card-content>

  <a mat-button *ngIf="isDetail == false" [routerLink]="item?._id">Détail</a>
  <a mat-button [routerLink]="'/movies/edit/' + item?._id">Modifier</a>
  <a mat-button (click)="remove()">Supprimer</a>
  <a mat-button *ngIf="isDetail" routerLink="/movies">Retour à la liste</a>
</mat-card>
