<mat-card class="actor-card">
  <mat-card-header>
    <mat-card-title>{{
      actor.lastName.toUpperCase() + " " + actor.firstName
    }}</mat-card-title>
    <mat-card-subtitle>{{ actor.nickname }}</mat-card-subtitle>
  </mat-card-header>
  <img
    *ngIf="actor.pictures == undefined"
    mat-card-image
    src="https://dummyimage.com/400x400/000/fff"
    alt=""
  />
  <img
    *ngIf="actor.pictures"
    mat-card-image
    src="{{ actor.pictures }}"
    class="picture"
  />

  <mat-card-actions class="card-footer">
    <a mat-button [routerLink]="'edit/' + actor?._id?.toString()">
      <mat-icon> edit </mat-icon>
    </a>

    <button mat-button [routerLink]="actor._id">
      <mat-icon>info</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
