mat-grid-tile {
    justify-content: left;
}

.test {
    margin: 10px;
    text-align: left;
    margin-right: 15px;
    align-self: flex-start;
}

.picture {
    max-width: 100px ;
    width: max-content;
}